.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  border-top: 4px solid #8560a8;
  padding-top: 20px;
  padding-bottom: 30px;
}

.item__img {
  max-width: 276px;
  margin-right: 20px;
  flex: 1;
}

.item__wrapper {
  flex: 1;
}

.item__description {
  color: $primary-btn-color;
  line-height: 25px;
  font-size: 18px;
  padding-right: 50px;
}

.item__posted {
  font-size: 15px;
}
