.page-header__wrapper {
  position: relative;
  padding: 30px 15px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
